.Orders-Container{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 530px;
    justify-content: center;
    align-items: center;
    padding:10px;
    gap:20px;
}

@media (max-width:850px) {
    .Orders-Container{
        grid-template-rows: 470px;
        display: flex;
        flex-direction: column;
    }
    
}