.Product-Container{
    border:3px solid #FF0087;
    border-radius: 8px;
    background-color: transparent;

    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    flex-direction: column;
    transition: all 0.2s;
    height: 350px;
}

.Product-Container:hover{
    border:3px solid #FF0087;
    background-color: #ffffff;
}

.Image-Container{
    border:2px solid black;
    border-radius: 8px ;
    height: 200px;
    width:170px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.Product-Image{
    margin: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}

.Product-Name{
    text-align: center;
    text-decoration: none;
    color:black;
    word-break: break-all;
}

.Product-Name:hover{
    color:#FF0087;
}

.Product-Name-Container{
    display: flex;
    height:80px ;
    width: 170px ;
    justify-content: center;
    overflow:hidden;
}

.Product-Button{
    display:inline-flex;
    width:150px;
    height:25px;
    justify-content: center;
    align-items: center;
    border: 2px solid #FF0087;
    background-color: #ebfffe ;
    border-radius: 8px;
    transition: all 0.2s;
}

.Product-Button:hover{
    border: 2px solid #FF0087;
    background-color: transparent;
    border-radius: 12px;
}